.social {
  background: $white;
  display: flex;
  justify-content: space-around;
  padding:30px 20px;
  flex-wrap: wrap;
}
.social-item {
  display: flex;
  align-items: center;
  font-size: 14px;

  img {
    width: 40px;
    height: 40px;
    margin-right: 5px;
  }
}
.footer-bottom {
  background: #f9fafd;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px 10px;
  @include breakpoint(lg) {
    display: block;
  }
}
.logo-bottom {
  width: 25%;
  padding: 0 10px;
  p {
    line-height: 1.8;
    font-size: 12px;
  }
  @include breakpoint(lg) {
    width: 100%;
  }
}
.import-links {
  width: 25%;
  padding: 0 10px;
  display: flex;
  align-items: center;
  font-size: 12px;
  @include breakpoint(lg) {
    width: 100%;
  }
  li {
    padding: 12px 0;
    a {
      color: $black;
    }
  }
  li:first-child {
    font-size: 18px;
    font-weight: 400;
  }
  .fas {
    color:$blue;
    margin-right: 10px;

  }
}
.useful-links {
  padding: 0 10px;
  width: 25%;
  display: flex;
  align-items: center;
  font-size: 12px;
  @include breakpoint(lg) {
    width: 100%;
  }
  li {
    padding: 12px 0;
    a {
      color: $black;
    }
  }
  li:first-child {
    font-size: 18px;
    font-weight: 400;
  }
  .fas {
    color:$blue;
    margin-right: 10px;
  }
}
.touch {
  width: 25%;
  padding: 0 10px;
  @include breakpoint(lg) {
    width: 100%;
  }
  a {
    color: $black;
    display: block;
    margin: 20px 0;
    font-size: 14px;
    .fa {
      padding-right: 5px;
      color: $blue;
    }
  }
  h4 {
    font-size: 18px;
    font-weight: 400;
    margin-top: 45px;
  }
  h5 {
    margin-top: 30px;
    font-size: 12px;

  }
  p {
    font-size: 12px;
  }
}
.copywrite {
  padding: 25px 10px;
  text-align: center;
  font-size: 14px;
}