
.top-contacts {
  display: flex;
  width: 100%;
  background: #F9FAFD;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  li {
    padding: 5px;

    a {
      color: $black;

      &:hover {
        color:$black;
      }
    }
  }
  img {
    padding-right: 3px;

  }
  @include breakpoint(xs) {
    font-size: 12px;
  }
}
.logo {
  @include breakpoint(lg) {
    padding: 10px;
  }
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
  border-bottom: 1px solid $gray;
  @include breakpoint(lg) {
    padding: 0;
    border-bottom: none;
  }
}
.main-menu {
  display: flex;
  ul {
    display: flex;


    li {
      font-weight: 700;
      a {
        color: $black;
        padding: 10px 10px;
        text-align: center;
        font-size: 14px;
        &:hover {
          color: $blue;
        }
      }

    }
  }
  @include breakpoint (lg) {
    opacity: 0;
    visibility: hidden;
    background: #f9fafd;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    margin-top: 130px;
    text-align: center;
    transition: all 0.2s;
    -webkit-transition: all 0.2s linear;

    ul {
      display: block;
      padding: 0 0 25px;


      li {
        padding-right: 0;
        border-bottom: 1px solid $black;
        padding: 10px 0;
        text-align: left;

        a {
          &:hover {
            border: 0;
          }
        }
      }
    }
  }
}
.main-menu-active {
  display: block;
  visibility: visible ;
  opacity: 1;

}
.menu-icon {
  display: none;
  position: relative;
  width: 60px;
  height: 60px;
  cursor: pointer;
  z-index: 2;
  right: 10px;

  @include breakpoint (lg) {
    display: block;
  }

  span {
    content: '';
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: $black;
    top: 30px;
    left: 15px;
    transition: 0.5s;

    &:after {
      content: '';
      position: absolute;
      width: 30px;
      height: 2px;
      background-color: $black;
      top: 10px;
      transition: 0.5s;
    }

    &:before {
      content: '';
      position: absolute;
      width: 30px;
      height: 2px;
      background-color: $black;
      top: -10px;
      transition: 0.5s;
    }
  }
}
.menu-icon-active {
  span {
    width: 0;
    &:after {
      transform: rotate(-45deg);
      top: 0;
    }
    &:before {
      transform: rotate(45deg);
      top:0;
    }
  }
}


.quote-btn,
.call-btn {
  padding: 10px 25px;
  font-size: 13px;
  font-weight: 700;
}
.quote-btn {
  border: solid 2px $blue;
  color: $blue;
  background: $white;
  transition: all 0.2s;
  cursor: pointer;
  border-radius: 25px;
  &:hover {
    background: $blue;
    color: $white;

  }
}
.call-btn {
  border: solid 2px #4de55c;
  background: $white;
  color: #4de55c;
  transition: all 0.2s;
  cursor: pointer;
  border-radius: 25px;
  &:hover {
    background: #4de55c;
    color: $white;
  }
  .fa-phone {
    padding-left: 3px;
  }
}