body {
    background: $base-background;
    color: $base-color;
    font-size: $base-font-size;
    font-family: $base-font-family;
    font-weight: $base-font-weight;
    @include breakpoint (xs) {
        font-size: 16px;
    }
}

*,
:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
    
p {
    margin-bottom: 25px;

    &:last-child {
        margin: 0;
    }
}

a {
    color: $link-color;
    text-decoration: none;

    &:hover {
        color: darken($link-color, 10%);
        text-decoration: none;
    }
}

p a {
    text-decoration: underline;

    &:hover {
        text-decoration: none;
    }
}

b,
strong {
    font-weight: 700;
}

i,
em {
    font-style: italic;
}

img {
    max-width: 100%;
    max-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $heading-color;
    font-family: $heading-font-family;
    font-weight: $heading-font-weight;
    margin: 0 0 10px;
    position: relative;

    a {
        color: $blue;

        &:hover {
            color: $link-color;
            text-decoration: none;
        }
    }
}

h1 {
    font-size: 50px;
    font-weight: 500;
    @include breakpoint(md) {
         font-size: 40px;
    }
    @include breakpoint(sm) {
        font-size: 35px;
    }
    @include breakpoint(xs) {
        font-size: 30px;
    }
}

h2 {
    font-size: 40px;
    @include breakpoint(sm) {
        font-size: 35px;
    }
    @include breakpoint(xs) {
        font-size: 25px;
    }
}

h3 {
    font-size: 30px;
    color: $blue;
    @include breakpoint(sm) {
        font-size: 25px;
    }
    @include breakpoint(xs) {
        font-size: 20px;
    }
}

h4 {
    font-size: 25px;

}

.container {
    width: 100%;
    min-width: $min-width;
    max-width: $max-width;
    padding: 0 15px;
    margin: 0 auto;
    position: relative;
}


