.hi-section {
  display: flex;
  width: 100%;
  text-transform: uppercase;
  font-weight: 500;
  align-items: center;
  padding: 50px;
  @include breakpoint(lg) {
    display: block;
    padding: 10px;
  }

}
.main-text {
  width: 50%;
  h1 {
    line-height: 1.6em;
  }
  @include breakpoint(lg) {
    width: 100%;
    text-align: center;
  }
}
.main-photo-item {
  width: 50%;
  display: flex;
  justify-content: center;
  img {
    width: 80%;
  }
  @include breakpoint(lg) {
    width: 100%;
    text-align: center;
  }
}
.what-we-do {
  background: #f9fafd;
  text-align: center;
  padding: 50px 30px;
  p {
    font-family: $second-font-family;
    line-height: 1.8;
    font-size: 14px;
    font-weight: 500;
  }
  h2 {
    color: $black;
  }
  h3 {
    font-family: "Montserrat",Sans-serif;
    font-size: 50px;
    font-weight: 300;
    text-transform: capitalize;
    line-height: 1.4em;
  }
  @include breakpoint(lg) {
    padding: 20px 0;
  }
}
.about-btn {
  max-width: 130px;
  text-align: center;
  background: $blue;
  color: $white;
  border: 1px solid $blue;
  border-radius: 25px;
  padding: 15px 20px;
  &:hover {
    background: $white;
    color: $blue;
  }
}
.help {
  background-image: url("../images/content/blue_img-2.png");
  text-align: center;
  padding: 80px 80px;
  @include breakpoint(lg) {
    padding: 30px 15px;
  }
  h3 {
    color: $white;
    font-weight: 700;
    padding-bottom: 20px;
  }
  p {
    line-height: 1.8;
    color: $white;
    font-size: 14px;
  }
}
.our-services {
  color: $black;
  padding: 75px 0;
  h2 {
    text-align: center;
  }
}
.service {
  padding: 25px 10px;
  width: 100%;
  display: flex;
  @include breakpoint(lg) {
    display: block;
    text-align: center;
  }
}
.service-item {
  width: 33.33%;
  display: flex;
  h4 {
    font-family: 'Varela Round',sans-serif;
    font-size: 22px;
    line-height: 28px;
    font-weight: 500;
  }
  img {
    width: 80px;
    height: 80px;
    margin: 0 15px;
  }
  p {
    color: #545454;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0;
  }
  @include breakpoint(lg) {
    width: 100%;
    display: block;
    padding-bottom: 20px;
  }
}
.work-mod {
  text-align: center;
  padding: 40px 89px;
  background: #f9fafd;
  position: relative;
  .owl-prev {
    top: 33%;
    position: absolute;
    left: -30px;
  }
  .owl-next {
    top: 33%;
    position: absolute;
    right: -30px;
  }
}
.portfolio {
  padding: 100px 40px;
  text-align: center;
  @include breakpoint(sm) {
    padding: 40px 40px;
  }
}
.port-foto {
  display: flex;
  width: 100%;
  @include breakpoint(lg) {
    display: block;
  }
}
.port-item {
  width: 50%;
  position: relative;
  cursor: pointer;
  @include breakpoint(lg) {
    width: 100%;
  }

  img {
    width: 646px;
    height: 368px;
    padding: 2px;
  }
  &:hover {
    .some-text{
      visibility: visible;
      bottom: 5px;
    }
  }
  .some-text {
    background: rgba(255,255,255,.8);
    color: #333;
    transition: all .2s;
    font-size: 13px;
    font-weight: 400;
    padding: 10px 0;
    visibility: hidden;
    position: absolute;
    bottom: -15px;
    text-indent: 10px;
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
  }
}
.port-btn {
  margin-top: 30px;
  max-width: 300px;
  text-align: center;
  background: $blue;
  color: $white;
  border: 1px solid $blue;
  border-radius: 25px;
  padding: 15px 20px;
  &:hover {
    background: $white;
    color: $blue;
  }
  @include breakpoint(xs) {
    font-size: 14px;
  }
}

.apps {
  position: relative;
  .owl-nav {
    .owl-prev {
      position: absolute;
      top:50%;
      left:10px;
    }
    .owl-next {
      position: absolute;
      top:50%;
      right: 10px;
    }
  }
  .owl-dots {
    position: absolute;
    left:50%;
    top:93%;
    transform: translate(-50%,-50%);
    .owl-dot {
      width: 10px;
      margin: 0 2px;
      height: 10px;
      border-radius: 50%;
      background: #f0f0f0;
      border: 0;
      &.active {
        background: $black;
      }
    }
  }
}
.process-work {
  background: #F9FAFD;
  padding: 100px 40px;
  h2 {
    text-align: center;
  }
}
.proc {
  display: flex;
  justify-content: space-around;
  @include breakpoint(lg) {
    flex-wrap: wrap;
  }
}
.proc-info {
  box-shadow: 0 -1px 10px 0 #FFF;
  width: 25%;
  margin: 0 10px;
  text-align: center;
  &:hover {
    .proc-info-item {
      box-shadow: 0 0 12px -4px #000;;
    }
  }
  h3 {
    line-height: 1.4;
    color: $black;
    font-weight: 700;
    font-family: 'Varela Round',sans-serif;
  }
  @include breakpoint (lg) {
    width: 40%;
  }
  @include breakpoint(xs) {
    width: 100%;
  }
}
.proc-info-item {
  padding: 20px;
  background-color: $white;
  box-shadow: 0 0 8px -4px #000;

  img {
    width: 65px;
    height: 65px;
    margin-bottom: 10px;
  }
  h4 {
    line-height: 1.4;
    color: #000;
    font-size: 19px;
    font-weight: 700;
  }
  p {
    color: #7a7a7a;
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
  }
}
.rank {
  background: $white;
  padding: 50px 40px;
  h2 {
    color: $black;
    text-align: center;
  }
}
.rank-wrap {
  display: flex;
  justify-content: space-around;
}
.reviews {
  background: $blue;
  padding: 40px 50px;
  text-align: center;
  h2 {
    color: $white;
  }
}
.review-item {
  background: $white;
  padding: 40px 0px;
}
.photo-review {
  width: 100px;
  height: 100px;
  margin:0 auto 20px;
  overflow: hidden;
  border-radius: 50%;
  border: 5px solid rgba(255,255,255,0.3);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}
.text-review {
  font-size: 16px;
  font-style: italic;
  color: #808080;
  line-height: 30px;
}
.autor-review {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  color: #333;
  text-transform: uppercase;
}
.company {
  position: relative;
  font-size: 13px;
  color: #777;
  margin-bottom: 15px;
  text-transform: capitalize;
  &:before {
    content: "";
    width: 30px;
    display: block;
    margin: 10px auto;
    border: 1px solid #d3d3d3;
  }
}
.some-keys {
  background: $white;
  padding: 80px 40px;
  width: 100%;
  .keys {
    display: flex;
    flex-wrap: wrap;;
  }
  h2 {
    text-align: center;
    padding-bottom: 35px;
  }
  h5 {
    text-align: center;
    padding-bottom: 35px;
    font-size: 14px;
  }
  @include breakpoint(xs) {
    padding: 40px 25px;
  }
}
.key-item {
  display: flex;
  width: 33.33%;
  padding: 0 20px 40px;
  .key-img {
    padding: 5px;
  }
  .key-text {
    width: 74%;
    p {
      color: #7a7a7a;
      font-weight: 500;
      font-size: 14px;
      line-height: 25px;
    }
    h4 {
      line-height: 1.4;
      color: #000;
      font-size: 19px;
      font-weight: 700;
      font-family: $base-font-family;
    }
  }
  @include breakpoint(lg) {
    width: 50%;
  }
  @include breakpoint(sm) {
    width: 100%;
  }
  @include breakpoint(xs) {
    padding: 0 0 40px;
  }
}
.techns-use {
  text-align: center;
  padding: 40px 89px;
  background: #f9fafd;
  position: relative;
  h2 {
    color: #000;
    font-family: "Montserrat",sans-serif;
    font-weight: 700;
    padding-bottom: 30px;
  }
  .owl-nav {
    .owl-prev {
      top: 33%;
      position: absolute;
      left: -30px;
    }
    .owl-next {
      top: 33%;
      position: absolute;
      right: -30px;
    }
  }
  @include breakpoint(xs) {
    padding: 40px 35px;
  }
}
.industries {
  padding: 60px 30px;
  h2 {
    text-align: center;
    padding-bottom: 35px;
  }
  h5 {
    text-align: center;
    padding-bottom: 35px;
    font-size: 14px;
  }

}
.ind-block {
  display: flex;
  width: 100%;
  flex-wrap: wrap;

}
.ind-block-item {
  width: 18%;
  background: #F9FAFD;
  text-align: center;
  padding: 10px 0 30px;
  margin: 0 10px 20px;
  h4 {
    line-height: 1.4;
    color: #000;
    font-size: 19px;
    font-weight: 700;
    font-family: "Varela Round",sans-serif;
  }
  img {
    padding-bottom: 15px;
  }
  &:hover {
    background: rgba(179, 182, 191, 0.7803921568627451);
  }
  @include breakpoint(lg) {
    width: 47%;
  }
  @include breakpoint(sm) {
    width: 100%;
  }
}
.values {
  padding: 60px 30px;
  background: #F9FAFD;
  h2 {
    text-align: center;
    padding-bottom: 35px;
  }
  h5 {
    text-align: center;
    padding-bottom: 35px;
    font-size: 14px;
  }
}
.all-values {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.value-item {
  text-align: center;
  width: 25%;

  img {
    width: 65px;
    height: 65px;
    margin-bottom: 10px;
  }
  h4 {
    line-height: 1.4;
    color: #000;
    font-size: 19px;
    font-weight: 700;
  }
  p {
    color: #7a7a7a;
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
  }
  @include breakpoint(md) {
    width: 50%;
  }
  @include  breakpoint(xs) {
    width: 100%;
  }
}
.team {
  padding: 80px 20px;

  h2 {
    text-align: center;
    padding-bottom: 40px;
  }


}
.team-group {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}
.team-item-img {
  text-align: center;
  img {
    border-radius: 50%;
    margin-bottom: 15px;
  }
}
.team-item-text {
  text-align: center;
  .team-member {
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    color: #333;
    margin-bottom: 15px;
    text-transform: uppercase;
  }
  .position {
    position: relative;
    font-size: 13px;
    color: #777;

    text-transform: capitalize
  }
}
.form-ask {
  background: $blue;
  width: 100%;
  display: flex;
  @include breakpoint(lg) {
    display: block;
  }

}
.all-form {
  padding: 50px 15px;
  width: 55%;

  @include breakpoint(lg) {
    width: 100%;
    padding: 15px 15px;
  }
}
form {
  text-align: center;
}
.form {
  display: flex;
  flex-wrap: wrap;
  background: #F9FAFD;
  padding: 30px 15px;
  h3 {
    width: 100%;
    color: $black;
    text-align: center;
  }
  p {
    text-align: center;
    font-size: 14px;
    line-height: 1.6;
  }
}
.name,
.email,
.phone,
.skype {
  width: 46%;
  padding: 14px;
  font-size: 15px;
  margin: 10px 10px;

}
.message,
.budget {
  margin: 10px 10px;
  padding: 15px;
  font-size: 14px;
}
.form-btn {
  margin-top: 20px;
  min-width: 200px;
  text-align: center;
  background: $white;
  color: $blue;
  border: 1px solid #2355DA;
  border-radius: 25px;
  padding: 15px 20px;
  &:hover {
    background: #2355DA;
    color: $white;
  }
}
.reach {
  color: $white;
  width: 45%;
  padding-top: 80px;
  h3 {
    width: 100%;
    color: $white;
    text-align: center;
    margin-bottom: 20px;
  }
  @include breakpoint(lg) {
    width: 100%;
    padding: 20px 0;

  }

}
.reach-item {
  display: flex;
  justify-content: space-around;
  padding: 25px 0;

}
.reach-img {
  @include breakpoint(xs) {
    padding: 0 15px;
  }
}
.reach-text {
  max-width: 260px;

    h5 {
      color: $white;
      margin-bottom: 30px;
    }
  p {
    font-size: 14px;
  }
    a {
      color: $white;
      display: block;
      margin: 20px 0;
      font-size: 14px;
      .fa {
        padding-right: 5px;
      }
    }
}
.btn-contact {
  display: flex;
  width: 100%;
  justify-content: center;
}
.call-us {
  border: 2px solid $white;
  border-radius: 25px;
  padding: 15px 20px;
  margin-right: 15px;
  cursor: pointer;
  .fa {
    padding-left: 5px;
  }
}
.whatsapp {
  border: 2px solid $white;
  border-radius: 25px;
  padding: 15px 20px;
  cursor: pointer;
  .fa {
    padding-left: 5px;
  }
}



