$grid-breakpoints: (
    xxs: 320px,
    xs: 480px,
    sm: 640px,
    md: 768px,
    lg: 1025px,
    xl: 1201px,
    xxl:1441px
);

@mixin breakpoint($size, $rule: max-width) {
    @media (#{$rule}: map-get($grid-breakpoints, $size) - 1px) {
        @content;
    }
}

@mixin breakpoint-mf($size, $rule: min-width) {
    @media (#{$rule}: map-get($grid-breakpoints, $size)) {
        @content;
    }
}

@mixin breakpoint-between($min-size, $max-size) {
    $min: map-get($grid-breakpoints, $min-size);
    $max: map-get($grid-breakpoints, $max-size) - 1px;

    @media (min-width: $min) and (max-width: $max) {
        @content;
    }
}