
$min-width: 320px; 
$max-width: 1400px;

$black: #000;
$white: #fff;
$blue: #2355DA;;
$orange: #ecb839;
$lightblue: #5cbafa;
$gray-light: #ddeaf2;
$gray: #596f7a;
$bluetext: #61c1ff;
$gray-text: #8b9599;
$link-color: $blue;

$base-background: $white;
$base-color: $black;
$base-font-family:'Varela Round', sans-serif;
$second-font-family: 'Montserrat', sans-serif;
$base-font-size: 18px;
$base-font-weight: 300;

$heading-color: $black;
$heading-font-family: 'Montserrat', sans-serif;
$heading-font-weight: 700;
